input[type="date"]:before {
  content: attr(placeholder);
  color: #aaa;
  margin-right: 0.5em;
}

input[type="date"] {
  width: 200px;
}
.validation-error {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 99999999;
  ul {
    width: auto;
  }
  .dismiss-modal-button {
    margin-top: 10px;
  }
}
.react-form-builder-form {
  position: relative;

  .rfb-item.alwaysbreak {
    page-break-before: always;
  }
  .rfb-item.nobreak:before {
    clear: both;
  }
  .rfb-item.nobreak {
    page-break-inside: avoid;
  }

  .rfb-item {
    padding: 10px 12px;
    position: relative;

    img {
      max-width: 100%;
      display: inline;
    }
    label {
      font-weight: normal;
    }

    .bold {
      font-weight: bold;
    }
    .italic {
      font-style: italic;
    }
    .form-label {
      display: block !important;
    }

    .form-group {
      .option-inline {
        display: inline-block !important;
        margin-right: 10px;
      }

      a {
        cursor: pointer;
      }
      input[type="date"] {
        height: 42px;
      }
      .m-signature-pad {
        position: relative;
        width: auto;
      }
      .react-star-rating {
        display: block;
      }
      .checkbox-label,
      .radio-label {
        font-weight: normal;
        display: block;
      }
      .label-required {
        margin-left: 5px;
      }

      .custom-color-picker-wrapper {
        overflow: hidden;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 7px;
        
        .custom-color-picker {
          padding: 0;
          width: 150%;
          height: 150%;
          margin: -25%;
        }
      }
    }

    .no-image {
      background: #eee;
      width: 100px;
      height: 100px;
      border: 1px solid #ddd;
      text-align: center;
      padding-top: 35px;
    }

    .no-video-image {
      background: #eee;
      width: 120px;
      height: 120px;
      border: 1px solid #ddd;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
